.footer-bottom
    .main
        p.address Address: No. 8, Xu Hong Middle Road, Xuhui District, Shanghai City TEL: 021-50688888   Zip code：200235
        p.copyRight COPYRIGHT
            span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1999-2016 SHANGYING GROUP . ALL RIGHTS RESERVED 苏ICP备16004405号-1 &nbsp;&nbsp;
            a(href="/sitemap") Site map
            a#safe


<!--[if IE 8]>
<script src="/javascripts/lib/css3-mediaqueries-js.js"></script>
<![endif]-->